$yellow: #ffee00;
$green: #a0f072;
$red: #dd5353;

@mixin margenes($top, $bottom) {
    margin-top: top;
    margin-bottom: bottom;
    background-color: $yellow;

}

.jumbotron{
    padding: 10px 20px;
    color: black;
    text-align: center;
    margin-top:55px;
    @include margenes(55px, 0px )
}

footer{
padding: 10px 10px 10px 10px;
background-color: $green;
width:100%;
margin-bottom: 0px;
margin-top: 10px;
position:relative;
bottom:0;
}

.card-hotel{
    background-color: $red;
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(226, 119, 48, 0.075);
}



.btn-reserva{
    width: 100%;
border-radius: 0px;}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 0px;

}